<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pt.ulisboa.tecnico.meic.cmu.p2photo">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activities.ActionOnPending"></activity>
        <activity android:name=".activities.PendingRequests" />
        <activity android:name=".activities.SelectPhoto" />
        <activity android:name=".activities.Settings" />
        <activity android:name=".activities.ChooseCloudOrLocal" />
        <activity android:name=".activities.AddUser" />
        <activity android:name=".activities.CreateAlbum" />
        <activity android:name=".activities.ActionsMenu" />
        <activity android:name=".activities.AddPhoto" />
        <activity android:name=".activities.YourAlbums" />
        <activity android:name=".activities.ListPhoto" />
        <activity android:name=".activities.Files" />
        <activity android:name=".activities.AddUserFromMainMenu" />
        <activity android:name=".activities.AddPhotoFromMainMenu" />
        <activity android:name=".activities.Log" />
        <activity
            android:name=".activities.ConfirmPrompt"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".activities.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dropbox.core.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask">
            <intent-filter>
                <data android:scheme="db-znh1m2wzcegv96c" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>